<div id="<%= dom_id station %>">
  <div>
    <strong>Station Id:</strong>
    <%= station.id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= station.name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= station.address %>
  </div>

  <div>
    <strong>Cross street:</strong>
    <%= station.cross_street %>
  </div>

  <div>
    <strong>Capacity:</strong>
    <%= station.capacity %>
  </div>

  <div>
    <strong>Lat:</strong>
    <%= station.lat %>
  </div>

  <div>
    <strong>Lon:</strong>
    <%= station.lon %>
  </div>

  <div>
    <strong>Bikes available:</strong>
    <%= station.bikes_available %>
  </div>

</div>
